body {
    background: #333;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 60;
    font-size: 30;
}

button {
    color: red;
  
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -14px -13px 50px 37px rgba(0,0,0,0);
    padding: 75;
}

input {
    padding: 22;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -14px -13px 50px 37px rgba(0,0,0,0); 
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -14px -13px 50px 37px rgba(0,0,0,0);
}