body {
    background: linear-gradient(16deg, rgb(106, 85, 203), rgb(35, 127, 225));;
    text-align: center;
    text-shadow: 5px 3px 3px black;
}

html {
    zoom: 98%;
}

h1 {
    color: white;
    font-size: 32px;
    text-shadow: 5px 3px 3px black;
}
h2 {
    color: white;
    font-size: 24px;
    text-shadow: 5px 3px 3px black;
}

p {
    color: white;
    font-size: 24px;
    text-shadow: 5px 3px 3px black;
}

#game {
    text-align: center;
    max-width: 500px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 30px auto;
    padding: 20px;
    text-shadow: 5px 3px 3px black;
}

#canvas {
    min-height: 300px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#result {
    font-size: 1.2em;
    padding: 2.5px;
    border: 1px solid #fff;
    box-shadow: 10px 5px 5px black;
}

button #a{
    box-shadow: 5px 3px 3px black;
    text-shadow: 2px 1px 1px rgba(232, 176, 176, 0.671);
}

button #b{
    font-size: 1.2em;
    padding: 2.5px;
    border: 1px solid #fff;
    box-shadow: 10px 5px 5px black;
}

#green {
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: all 0.2s;
}

.anim{
    color: chartreuse !important;
}